<% content_for :body_class, 'homepage' %>
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__title  col-12">
        <h1><%= @lp.title %></h1>
        <% unless @lp.subtitle.empty? %>
          <h3><%= @lp.subtitle %></h3>
        <% else %>
          <h3>We are experts in helping talented <u>finance and accounting</u> candidates (like you) make big moves in their careers.</h3>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hero__dropdown  container-fluid" id="accordion">
    <div class="row">
      <div class="container">
        <div class="row" >
          <div class="dropdown__btns  col-12">
            <div class="dropdown__btn  dropdown__btn--1  collapsed" data-toggle="collapse" data-target="#heroDropdownContent1" aria-expanded="false" aria-controls="heroDropdownContent1" style="margin-left: auto; margin-right: auto">
              <div class="btn__circle"></div>
              <div class="btn__position">Candidates</div>
              <div class="btn__card">
                <p>Looking for a new role?</p>
                <span>Submit Your Details Below</span>
                <div class="lines">
                  <div class="line  line--1"></div>
                  <div class="line  line--2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="dropdown__content">
        <div id="heroDropdownContent1" class="collapse" aria-labelledby="heroDropdown1" data-parent="#accordion">
          <div class="content__wrapper pb-0">
            <div class="container">
              <div class="row">
                <div class="content  content--1  col-12">
                  <h3 class="content__title">So the next step is easy.</h3>
                  <p class="content__subtitle">Just submit your CV/Resume and our team of experts will do the rest!</p>
                  <%= render 'form' %>  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row" >
            <div class="content__stats  col-12">
              <h4>The #1 financial recruitment firm people love working with</h4>
              <picture>
                <source
                  srcset="<%= asset_path('stats.jpg') %>"
                  media="(max-width: 991px)"
                >
                <source
                  srcset="<%= asset_path('stats.jpg') %> 1x, <%= asset_path('stats@2x.jpg') %> 2x"
                  media="(min-width: 992px)"
                >
                <img src="<%= asset_path('stats.jpg') %>" alt="The #1 financial recruitment firm people love working with">
              </picture>
              <p>Data from Glassdoor</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="hero__orb  hero__orb--1">
    <img src="<%= asset_path('orb-1.png') %>" alt="<%= COMPANY_NAME %>">
  </div>
  <div class="hero__orb  hero__orb--2">
    <img src="<%= asset_path('orb-2.png') %>" alt="<%= COMPANY_NAME %>">
  </div>
  <div class="hero__orb  hero__orb--3">
    <img src="<%= asset_path('orb-3.png') %>" alt="<%= COMPANY_NAME %>">
  </div>
</div>
<div class="career-opportunities">
  <div class="container">
    <div class="row">
      <div class="career-opportunities__descr  col-12">
        <h2>We Unlock Career Opportunities & Reward Your Hard Work!</h2>
        <p>You've work hard in your career, from the early days of education, to the years of hard work in the corporate sector. You’ve taken charge of your career and you know what you want. When you seek out a new opportunity, you are looking for the right role, one that suits you as a person, will challenge you, and provides room to grow. Unfortunately for our industry, so many recruiters don't get this, don’t listen, don’t consult. They look for the easiest way to make their commission, putting you forward for jobs that are a less than ideal fit, trying to shoe horn you into the jobs they have, rather than find you the job you want.</p>
        <p>At Global Accounting Network, we have made our name by using our expertise, our connections and our efforts to get you the right job for you. We represent excellent candidates and companies only, so when we help you find your next opportunity, we are thinking years ahead. Not just now, but every next career step. Not just a single relationship, but how we are going to guide your entire career. We put great people into great jobs, not just anyone into any job.</p>
        <p>You can see for yourself, there's a reason our rating and review are so profoundly positive. We work hard for our candidates, with the goal that in 2 years time you are still referring your friends and colleagues to the team that helps you take the next step in your career!</p>
        <h3>Next Steps To Find Your Career Opportunity</h3>
        <p>All you need to do, is submit your resume to our team for review. Don't wait to make it perfect, just send what you have, our team are experts in presenting you at your best, and locating the right role for where you want to take your career.</p>
        <p>Submit your resume now, and let Global Accounting Network help take to a career you can be proud of!</p>
        <a href="#send-cv">I'm Ready - Next Steps Please</a>
      </div>
    </div>
  </div>
</div>
<div class="client-review">
  <div class="container">
    <div class="row">
      <div class="col-12  col-lg-5  col-xl-3  offset-xl-1">
        <img src="<%= asset_path('john.jpg') %>" alt="John - Finance Business Analyst, International Retailer">
        <h4>John - Finance Business Analyst, International Retailer</h4>
      </div>
      <div class="col-12  col-lg-7  col-xl-7">
        <h3>“They Found My Dream Job”</h3>
        <p>Global Accounting Network provide me with a brilliant service, finding out in great detail what I’m looking for and making sure they fully understand what my needs are. I met with them and we went through my experience so they can accurately represent what my abilities are, what kind of person I am, and be able to accordingly match me to the right roles and employers. I feel as if they take great care in only showing me relevant roles that I would both enjoy and succeed in.</p>
        <p>I find it interesting that they put together a plan to approach companies on my behalf that I want to work for, whether there is an open job there or not – something I haven’t seen other recruiters do. They also invited me to attend an event they ran celebrating diversity in the workplace, and this allowed me to network with people I wouldn’t normally be able to get the opportunity to meet. I feel included in a network where I have the chance to hear about and be represented in roles that I wouldn’t usually have access to, and this has proven very useful.</p>
        <p>It has felt like a very personalised service from the start and they are always a phone call or coffee away if needed. They keep in constant touch, thoroughly preparing me for interviews and sharing their market knowledge with me, such as the CIMA Salary Survey results. They explained the findings to me in great detail, and the survey has helped me to work out what kind of salary I should be looking for in different industries and what kind of questions I should be asking employers.</p>
        <p>They make themselves available late into the evening outside the usual business hours and this helps where I’m juggling my job search and a full-time job. They take the time to ensure I’m comfortable with interviews, and give very candid and honest feedback which helps me to learn from the experience. I feel like they show a high level of care in my job search, and this sets them apart from other agencies I have used.</p>
        <a href="#send-cv">Assess My Opportunities</a>
      </div>
    </div>
  </div>
</div>
<div class="recruitment-process">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-block">
          <h3>Your Recruitment Process</h3>
          <div class="round"></div>
          <p>Taking that next step in your career can be daunting. Our team know this, and we work with you to ensure you make all the right choices, continually stepping up, moving forward with your career. We LISTEN to your needs, and our solution orientated approach is designed to ensure we place you in a role that suits your personal skills, personalities and aspirations. Nobody cares about your career as much as Global Accounting Network, submit your resume today and let us find you your ultimate dream job.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="recruitment-process__items  owl-carousel">
          <div class="recruitment-process__item" style="color: #008CFF">
            <h4>Submit CV</h4>
            <div data-aos="fade-up" data-aos-duration="600" class="number">1</div>
            <p>Submit your resume online through our website. Our team analyse every submission against our internal database of job and company opportunities, along with our wider network to assess how/if we can help you.</p>
          </div>
          <div class="recruitment-process__item" style="color: #D21E46">
            <h4>Phone interview</h4>
            <div data-aos="fade-up" data-aos-duration="600" class="number">2</div>
            <p>If we think we can help you, we will arrange a short phone interview to gauge your goals, and what’s important to you in your next role, using our market knowledge and subject matter expertise to help guide you where needed.</p>
          </div>
          <div class="recruitment-process__item" style="color: #8CC832">
            <h4>Face to Face Meeting</h4>
            <div data-aos="fade-up" data-aos-duration="600" class="number">3</div>
            <p>You are invited into our office to meet the most appropriate of the team. We interview all our candidates, helping them to present themselves in the best possible light. Our candidates have a very high success rate, primarily because our team are experts in helping you get in front of the right people and shine when it matters.</p>
          </div>
          <div class="recruitment-process__item" style="color: #000047">
            <h4>Job Options</h4>
            <div data-aos="fade-up" data-aos-duration="600" class="number">4</div>
            <p>We present you the opportunities that best suit your goals. Working closely with you, our team look for companies that meet your desires both now and into the future. We’ve built our reputation on going above and beyond what other recruiters do, and hence our candidates stay in roles longer and provide much higher satisfaction scores at the end of the process than our competitors.</p>
          </div>
          <div class="recruitment-process__item" style="color: #F5A623">
            <h4>Securing the Offers</h4>
            <div data-aos="fade-up" data-aos-duration="600" class="number">5</div>
            <p>Our team helps you through every stage of securing your role. We prepare you for the interview, provide pre-meeting training and insights into the customer you will be meeting. We even help you negotiate the best possible deal, one that suits your desires and aspirations. We know the finance and accounting market better than anyone, and this gives you the edge to land that dream job you’ve been looking for!</p>
          </div>
          <div class="recruitment-process__item" style="color: #6D10E0">
            <h4>Career Progression</h4>
            <div data-aos="fade-up" data-aos-duration="600" class="number">6</div>
            <p>Our team are more that job finders, we are career mentors. We stay in touch with our clients, help them grow and expand, and when the time is right, we will help you move onto your next challenge. That’s all part of the service, and we love seeing the smile on your face.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="send-cv" id="send-cv">
  <div class="container">
    <div class="row">
      <div class="send-cv__content  col-12">
        <h3>So the next step is easy. Just submit your CV. Our team will do the rest.</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="submit-cv-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center">
            Thank you for your application.<br>
            Unfortunately you do not meet our requirement for a placement. We require candidates to be fully qualified accountants who are eligible to work in the UK lawfully already.
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>