<% content_for :body_class, 'about-us' %>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__title  col-12">
        <h1>Strong Principles for Serious Recruitment</h1>
        <div class="round"></div>
        <h3>We aim to get it right for the right reasons</h3>
      </div>
    </div>
  </div>
  <div class="hero__orb  hero__orb--1">
    <img src="<%= asset_path('orb-12.png') %>" alt="">
  </div>
</div>
<div class="stats">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="stats__slider  stats__slider--green owl-carousel">
          <div class="slider__item">
            <h2>95% fill rate</h2>
            <p>from retained search</p>
          </div>
          <div class="slider__item">
            <h2>95% fill rate</h2>
            <p>from retained search</p>
          </div>
          <div class="slider__item">
            <h2>95% fill rate</h2>
            <p>from retained search lorem</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="principles">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-block  title-block--single">
          <h3>Our Driving Principles</h3>
        </div>
      </div>
      <div class="col-12">
        <div class="principles__items">
          <div class="principles__item" style="color: #008CFF">
            <h4>Responsive and agile</h4>
            <svg version="1.1" viewBox="0 0 113 113" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g transform="translate(-8362 -420)">
                <use transform="translate(8363 421)" fill="#FAFAFA" xlink:href="#f14"/>
                <use transform="translate(8363 421)" fill="#008CFF" xlink:href="#f13"/>
                <use transform="translate(8417.5 479.45)" fill="#008CFF" xlink:href="#f12"/>
                <use transform="translate(8417.5 430.6)" fill="#008CFF" xlink:href="#f11"/>
                <use transform="matrix(6.1232e-17 1 -1 6.1232e-17 8414 474)" fill="#008CFF" xlink:href="#f12"/>
                <use transform="matrix(6.1232e-17 1 -1 6.1232e-17 8462.9 474)" fill="#008CFF" xlink:href="#f11"/>
              </g>
              <defs>
                <path id="f14" d="m55.5 111c30.652 0 55.5-24.848 55.5-55.5s-24.848-55.5-55.5-55.5-55.5 24.848-55.5 55.5 24.848 55.5 55.5 55.5z" fill-rule="evenodd"/>
                <path id="f13" d="m55.5 111.42c30.886 0 55.925-25.038 55.925-55.925h-0.85c0 30.417-24.658 55.075-55.075 55.075v0.85zm55.925-55.925c0-30.886-25.038-55.925-55.925-55.925v0.85c30.417 0 55.075 24.658 55.075 55.075h0.85zm-55.925-55.925c-30.886 0-55.925 25.038-55.925 55.925h0.85c0-30.417 24.658-55.075 55.075-55.075v-0.85zm-55.925 55.925c0 30.886 25.038 55.925 55.925 55.925v-0.85c-30.417 0-55.075-24.658-55.075-55.075h-0.85z"/>
                <path id="f12" d="m1.5 0v-0.5h-1v0.5h1zm-0.5 40l2.8868-5h-5.7735l2.8868 5zm-0.5-40v35.5h1v-35.5h-1z"/>
                <path id="f11" d="m0.5 40v0.5h1v-0.5h-1zm0.5-40l-2.8868 5h5.7735l-2.8868-5zm0.5 40v-35.5h-1v35.5h1z"/>
              </defs>
            </svg>
            <p>We’re quick to respond, fast to find smart solutions, open to innovate our model.</p>
          </div>
          <div class="principles__item" style="color: #D21E46">
            <h4>Open and authentic</h4>
            <svg version="1.1" viewBox="0 0 113 113" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g transform="translate(-8869 -420)">
                <use transform="translate(8870 421)" fill="#FAFAFA" xlink:href="#f26"/>
                <use transform="translate(8870 421)" fill="#D21E46" xlink:href="#f25"/>
                <use transform="translate(8876 445)" fill="#FAFAFA" xlink:href="#f24"/>
                <use transform="translate(8876 445)" fill="#D21E46" xlink:href="#f23"/>
                <use transform="translate(8901 452)" fill="#FAFAFA" xlink:href="#f22"/>
                <use transform="translate(8901 452)" fill="#D21E46" xlink:href="#f21"/>
              </g>
              <defs>
                <path id="f26" d="m55.5 111c30.652 0 55.5-24.848 55.5-55.5s-24.848-55.5-55.5-55.5-55.5 24.848-55.5 55.5 24.848 55.5 55.5 55.5z" fill-rule="evenodd"/>
                <path id="f25" d="m55.5 111.42c30.886 0 55.925-25.038 55.925-55.925h-0.85c0 30.417-24.658 55.075-55.075 55.075v0.85zm55.925-55.925c0-30.886-25.038-55.925-55.925-55.925v0.85c30.417 0 55.075 24.658 55.075 55.075h0.85zm-55.925-55.925c-30.886 0-55.925 25.038-55.925 55.925h0.85c0-30.417 24.658-55.075 55.075-55.075v-0.85zm-55.925 55.925c0 30.886 25.038 55.925 55.925 55.925v-0.85c-30.417 0-55.075-24.658-55.075-55.075h-0.85z"/>
                <path id="f24" d="m50 64c27.614 0 50-14.327 50-32s-22.386-32-50-32-50 14.327-50 32 22.386 32 50 32z" fill-rule="evenodd"/>
                <path id="f23" d="m50 64.425c13.876 0 26.458-3.5987 35.584-9.4396 9.1216-5.8378 14.841-13.954 14.841-22.985h-0.85c0 8.642-5.4739 16.526-14.449 22.27-8.97 5.7408-21.388 9.3055-35.126 9.3055v0.85zm50.425-32.425c0-9.0311-5.719-17.148-14.841-22.985-9.1263-5.8409-21.708-9.4396-35.584-9.4396v0.85c13.738 0 26.156 3.5647 35.126 9.3056 8.9749 5.7438 14.449 13.627 14.449 22.269h0.85zm-50.425-32.425c-13.876 0-26.458 3.5988-35.584 9.4396-9.1216 5.8378-14.841 13.954-14.841 22.985h0.85c0-8.642 5.4739-16.526 14.449-22.269 8.97-5.7409 21.388-9.3056 35.126-9.3056v-0.85zm-50.425 32.425c0 9.0311 5.719 17.148 14.841 22.985 9.1263 5.8409 21.708 9.4396 35.584 9.4396v-0.85c-13.738 0-26.156-3.5647-35.126-9.3055-8.9749-5.7439-14.449-13.628-14.449-22.27h-0.85z"/>
                <path id="f22" d="m24.5 49c13.531 0 24.5-10.969 24.5-24.5s-10.969-24.5-24.5-24.5-24.5 10.969-24.5 24.5 10.969 24.5 24.5 24.5z" fill-rule="evenodd"/>
                <path id="f21" d="m24.5 49.425c13.766 0 24.925-11.159 24.925-24.925h-0.85c0 13.296-10.779 24.075-24.075 24.075v0.85zm24.925-24.925c0-13.766-11.159-24.925-24.925-24.925v0.85c13.296 0 24.075 10.779 24.075 24.075h0.85zm-24.925-24.925c-13.766 0-24.925 11.159-24.925 24.925h0.85c0-13.296 10.779-24.075 24.075-24.075v-0.85zm-24.925 24.925c0 13.766 11.159 24.925 24.925 24.925v-0.85c-13.296 0-24.075-10.779-24.075-24.075h-0.85z"/>
              </defs>
            </svg>
            <p>We’re straight talkers, honest and humble. Expect to be constructively challenged.</p>
          </div>
          <div class="principles__item" style="color: #8CC832">
            <h4>Driven to deliver</h4>
            <svg version="1.1" viewBox="0 0 113 113" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g transform="translate(-8353 -766)">
                <use transform="translate(8354 767)" fill="#FAFAFA" xlink:href="#f34"/>
                <use transform="translate(8354 767)" fill="#8CC832" xlink:href="#f33"/>
                <use transform="matrix(.70711 .70711 -.70711 .70711 8405.6 823.44)" fill="#8CC832" xlink:href="#f32"/>
                <use transform="matrix(.70711 .70711 -.70711 .70711 8440.2 788.9)" fill="#8CC832" xlink:href="#f31"/>
                <use transform="matrix(-.70711 .70711 -.70711 -.70711 8407.1 817.14)" fill="#8CC832" xlink:href="#f32"/>
                <use transform="matrix(-.70711 .70711 -.70711 -.70711 8441.6 851.68)" fill="#8CC832" xlink:href="#f31"/>
              </g>
              <defs>
                <path id="f34" d="m55.5 111c30.652 0 55.5-24.848 55.5-55.5s-24.848-55.5-55.5-55.5-55.5 24.848-55.5 55.5 24.848 55.5 55.5 55.5z" fill-rule="evenodd"/>
                <path id="f33" d="m55.5 111.42c30.886 0 55.925-25.038 55.925-55.925h-0.85c0 30.417-24.658 55.075-55.075 55.075v0.85zm55.925-55.925c0-30.886-25.038-55.925-55.925-55.925v0.85c30.417 0 55.075 24.658 55.075 55.075h0.85zm-55.925-55.925c-30.886 0-55.925 25.038-55.925 55.925h0.85c0-30.417 24.658-55.075 55.075-55.075v-0.85zm-55.925 55.925c0 30.886 25.038 55.925 55.925 55.925v-0.85c-30.417 0-55.075-24.658-55.075-55.075h-0.85z"/>
                <path id="f32" d="m1.3536-0.35355c-0.19526-0.19526-0.51184-0.19526-0.7071 0l-3.182 3.182c-0.19527 0.19526-0.19527 0.51184 0 0.7071 0.19526 0.19527 0.51184 0.19527 0.7071 0l2.8284-2.8284 2.8284 2.8284c0.19526 0.19527 0.51184 0.19527 0.7071 0 0.19527-0.19526 0.19527-0.51184 0-0.7071l-3.182-3.182zm-0.85355 40.354v0.5h1v-0.5h-1zm0-40v40h1v-40h-1z"/>
                <path id="f31" d="m0.64645 40.354c0.19526 0.1952 0.51184 0.1952 0.7071 0l3.182-3.182c0.19527-0.1953 0.19527-0.5119 0-0.7071-0.19526-0.1953-0.51184-0.1953-0.7071 0l-2.8284 2.8284-2.8284-2.8284c-0.19526-0.1953-0.51184-0.1953-0.7071 0-0.19527 0.1952-0.19527 0.5118 0 0.7071l3.182 3.182zm0.85355-40.354v-0.5h-1v0.5h1zm0 40v-40h-1v40h1z"/>
              </defs>
            </svg>
            <p>Positive results drive everything we do, and we always do the right thing, not the easy thing</p>
          </div>
          <div class="principles__item" style="color: #0E0E77">
            <h4>Knowledge with integrity</h4>
            <svg version="1.1" viewBox="0 0 113 113" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g transform="translate(-8869 -766)">
                <use transform="translate(8870 767)" fill="#FAFAFA" xlink:href="#f46"/>
                <use transform="translate(8870 767)" fill="#0E0E77" xlink:href="#f45"/>
                <use transform="translate(8870 821)" fill="#0E0E77" xlink:href="#f44"/>
                <use transform="translate(8924 767)" fill="#0E0E77" xlink:href="#f43"/>
                <use transform="translate(8914 811)" fill="#FAFAFA" xlink:href="#f42"/>
                <use transform="translate(8914 811)" fill="#0E0E77" xlink:href="#f41"/>
              </g>
              <defs>
                <path id="f46" d="m55.5 111c30.652 0 55.5-24.848 55.5-55.5s-24.848-55.5-55.5-55.5-55.5 24.848-55.5 55.5 24.848 55.5 55.5 55.5z" fill-rule="evenodd"/>
                <path id="f45" d="m55.5 111.42c30.886 0 55.925-25.038 55.925-55.925h-0.85c0 30.417-24.658 55.075-55.075 55.075v0.85zm55.925-55.925c0-30.886-25.038-55.925-55.925-55.925v0.85c30.417 0 55.075 24.658 55.075 55.075h0.85zm-55.925-55.925c-30.886 0-55.925 25.038-55.925 55.925h0.85c0-30.417 24.658-55.075 55.075-55.075v-0.85zm-55.925 55.925c0 30.886 25.038 55.925 55.925 55.925v-0.85c-30.417 0-55.075-24.658-55.075-55.075h-0.85z"/>
                <path id="f44" d="m0.5 1h-0.5v1h0.5v-1zm110 1h0.5v-1h-0.5v1zm-110 0h110v-1h-110v1z"/>
                <path id="f43" d="m2 0.5v-0.5h-1v0.5h1zm-1 110v0.5h1v-0.5h-1zm0-110v110h1v-110h-1z"/>
                <path id="f42" d="m11.5 24c6.3513 0 11.5-5.3726 11.5-12 0-6.6274-5.1487-12-11.5-12-6.3513 0-11.5 5.3726-11.5 12 0 6.6274 5.1487 12 11.5 12z" fill-rule="evenodd"/>
                <path id="f41" d="m11.5 24.425c6.6029 0 11.925-5.5801 11.925-12.425h-0.85c0 6.4099-4.9753 11.575-11.075 11.575v0.85zm11.925-12.425c0-6.8449-5.3221-12.425-11.925-12.425v0.85c6.0997 0 11.075 5.1651 11.075 11.575h0.85zm-11.925-12.425c-6.6029 0-11.925 5.5801-11.925 12.425h0.85c0-6.4099 4.9753-11.575 11.075-11.575v-0.85zm-11.925 12.425c0 6.8449 5.3221 12.425 11.925 12.425v-0.85c-6.0997 0-11.075-5.1651-11.075-11.575h-0.85z"/>
              </defs>
            </svg>
            <p>Recruiting top talent in finance and accounting is all we do. We apply smart thinking to everyday challenges.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our-vision">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-block  title-block--single">
          <h3>Our Vision</h3>
        </div>
      </div>
      <div class="col-12  col-lg-10  offset-lg-1">
        <div class="our-vision__group-1">
          <p>To redefine the recruitment industry by providing value-orientated partnerships that reinvigorates the talent & search service, in doing so breaking negative stereotypes.</p>
        </div>
      </div>
      <div class="col-12  col-md-10  offset-md-1  ">
        <div class="our-vision__group-2">
          <p>We help qualified Finance, Accounting, and Finance transformation professionals to develop their careers by matching them with challenging, rewarding and well-targeted employment and interim opportunities.</p>
          <p>We are committed to proactively finding roles and assignments with great companies that meet your desired career aspirations, by taking the time to understand company culture, skills and experience.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="quotes  quotes--green">
  <div class="container">
    <div class="row">
      <div class="owl-carousel  col-12">
        <div class="quote">
          <p>In today’s fast-paced world, GAN really stands out by providing fantastic service and genuine human connection which is very rare. Working with my consultant has been a real pleasure and a much personalised experience. </p>
          <h4>Financial Controller, Architecture and Design</h4>
        </div>
        <div class="quote">
          <p>In today’s fast-paced world, GAN really stands out by providing fantastic service and genuine human connection which is very rare. Working with my consultant has been a real pleasure and a much personalised experience. </p>
          <h4>Financial Controller, Architecture and Design</h4>
        </div>
        <div class="quote">
          <p>In today’s fast-paced world, GAN really stands out by providing fantastic service and genuine human connection which is very rare. Working with my consultant has been a real pleasure and a much personalised experience. </p>
          <h4>Financial Controller, Architecture and Design</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-block  title-block--single">
          <h3>Our Team</h3>
        </div>
      </div>
      <div class="col-12">
        <div class="our-team__members  our-team__members--hide">
          <div class="owl-carousel">

            <% @staff.each do |person| %>
              <div class="our-team__member">
                <div class="member__name"><%= person.name %></div>
                <div class="member__avatar" style="background-image: url('<%= person.image.url %>')"></div>
                <div class="member__info">
                  <%= simple_format(person.description) %>
                </div>
              </div>
            <% end %>

          </div>
          <div class="members__join-our-team-btn">
            <a href="#">Join our team</a>
          </div>

          <% if @staff.count > 6 %>
            <div class="members__show-all-btn">
              <a href="">Load more</a>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="get-in-touch">
  <div class="container">
    <div class="row">
      <div class="col-10  offset-1">
        <h4>Fancy working for Global?</h4>
        <div class="round"></div>
        <p>We are changing the reputation of recruiters, stepping as far away as possible from the cowboy salesmen of yesteryear and delivering a service beyond the norm. If you’re ambitious, driven and excited then we’d love to hear from you!</p>
        <%= link_to 'Get In Touch', join_us_path %>
      </div>
    </div>
  </div>
</div>