<% if @jobs.any? %>
  <div class="result__vacancies">
    <% @jobs.each do |job| %>
      <%= link_to job, { :class => 'result__vacancy' } do %>
        <h4 class="vacancy__title"><%= job.title %></h4>
        <div class="vacancy__details">
          <table>
            <tr>
              <td>SECTOR: </td>
              <td><%= job.sector %></td>
            </tr>
            <tr>
              <td>SALARY:</td>
              <td><%= "#{Setting.currency_symbol}#{job.salary}" %></td>
            </tr>
            <tr>
              <td>LOCATION:</td>
              <td><%= job.location %></td>
            </tr>
            <tr>
              <td>JOB TYPE:</td>
              <td><%= job.job_type.humanize.capitalize %></td>
            </tr>
            <% if job.job_function %>
            <tr>
              <td>JOB FUNCTION:</td>
              <td><%= job.job_function.humanize.capitalize %></td>
            </tr>
            <% end %>
            <tr>
              <td>REFERENCE:</td>
              <td><%= job.ref_id %></td>
            </tr>
          </table>
        </div>
        <div class="vacancy__descr">
          <div>
            <p><%= truncate(strip_tags(job.description.html_safe), length: 200) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="result__link">
    <a href="#current_jobs">Back to Top</a>
  </div>
<% else %>
  <%= t('Sorry, no jobs found.') %>
<% end %>