<% if @jobs.any? %>
  <div class="result__vacancies">
    <% @jobs.each do |job| %>
      <%= link_to job, { :class => 'result__vacancy' } do %>
        <h4 class="vacancy__title"><%= job.title %></h4>
        <p class="vacancy__details">
          Sector: 		<%= job.sector %><br>
          Salary: 		<%= "#{Setting.currency_symbol}#{job.salary}" %><br>
          Location: 	<%= job.location %><br>
          Job Type: 	<%= job.job_type.humanize.capitalize %><br>
          Reference: 	<%= job.ref_id %><br>
        </p>
        <div class="vacancy__descr">
          <div>
            <p><%= truncate(job.description, length: 50) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="result__link">
    <a href="#current_jobs">Back to Top</a>
  </div>
<% else %>
  <%= t('Sorry, no jobs found.') %>
<% end %>