<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @job.job_type %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @job.sector %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @job.company_description %>
</p>

<p>
  <strong>Responsibilities:</strong>
  <%= @job.responsibilities %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<%= link_to 'Back', jobs_path %>
