<% content_for :body_class, 'current-jobs' %>

<%= render 'partials/text_page_hero_section.html',
           title: @job.title,
           subtitle: "Job Ref: #{@job.ref_id}",
           orb_2: 'orb-3.png'
%>
<div class="job-detail">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="job-detail__container">
          <div class="job-detail__column-1">
            <div class="job-detail__main-info">
              <table>
                <tr>
                  <td>SECTOR: </td>
                  <td><%= @job.sector %></td>
                </tr>
                <% if @job.job_type == 'contract' %>
                  <tr>
                    <td>DAY RATE:</td>
                    <td><%= "#{Setting.currency_symbol}#{@job.day_rate}" %></td>
                  </tr>
                <% else %>
                  <tr>
                    <td>SALARY:</td>
                    <td><%= "#{Setting.currency_symbol}#{@job.salary}" %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>LOCATION:</td>
                  <td><%= @job.location %></td>
                </tr>
                <tr>
                  <td>JOB TYPE:</td>
                  <td><%= @job.job_type.humanize.capitalize %></td>
                </tr>
                <% if @job.job_function %>
                <tr>
                  <td>JOB FUNCTION:</td>
                  <td><%= @job.job_function.humanize.capitalize %></td>
                </tr>
                <% end %>
                <tr>
                  <td>REFERENCE:</td>
                  <td><%= @job.ref_id %></td>
                </tr>
              </table>
            </div>
            <div class="job-detail__main-responsibilities">
              <% if @job.responsibilities %>
                <h4>Main responsibilities:</h4>
                <ul>
                  <% @job.responsibilities.each_line do |responsibility| %>
                    <li><%= responsibility %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>

          <div class="job-detail__column-2" >
            <% if @job.company %>
              <div class="job-detail__about-company">
                  <%= @job.company.description %>
              </div>
            <% end %>
            <div class="job-detail__about-role">
              <%= @job.description.html_safe %>
            </div>
          </div>


          <div class="job-detail__back-btn">
            <%= link_to 'back to search results', jobs_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="register-interest">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="register-interest__container">
          <h3 class="register-interest__title">Apply for this job</h3>
          <p class="register-interest__job-id">
            <span class="reference">REFERENCE # </span>
            <span class="job-id"><%= @job.ref_id %></span>
          </p>
          <div id="job-apply-form" >
            <%= render 'candidates/form_create_candidate' %>
          </div>
          <div id="job-apply-form-result" ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/mobile_app' %>
