<div class="mobile-app">
  <div class="container">
    <div class="row">
      <div class="mobile-app__container  col-12">
        <div class="mobile-app__phone-img">
          <img src="<%= asset_path('mobile-app.png') %>" alt="Mobile App">
        </div>
        <div class="mobile-app__descr">
          <h4>Download the Global App for Jobs on-the-go</h4>
          <p>Register your details with us via the app to ensure that you never miss out on an opportunity.</p>
        </div>
        <div class="mobile-app__links">
          <a class="mobile-app__link" href="<%= Setting.app_store %>"><img src="<%= asset_path('app-store-badge.png') %>" alt="GAN App Store"></a>
          <a class="mobile-app__link" href="<%= Setting.google_play %>"><img src="<%= asset_path('google-play-badge.png') %>" alt="GAN Google Play"></a>
        </div>
      </div>
    </div>
  </div>
</div>