<% content_for :body_class, 'contact-us' %>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__title  col-12">
        <h1>Get in touch</h1>
        <div class="round"></div>
        <h3>London Headquarters. Global reach.</h3>
      </div>
    </div>
  </div>
  <div class="hero__orb  hero__orb--1">
    <img src="<%= asset_path('orb-10.png') %>" alt="">
  </div>
</div>
<div class="contacts">
  <div class="container">
    <div class="row">
      <div class="contacts__locations  col-12" id="accordion">
        <div class="locations__nav-desktop">
          <!-- Map path set here -->
          <% @offices.each_with_index do |office, i| %>
            <button class="nav-desktop__item  <%= (i == 0) ? '' : 'collapsed' %>" data-map="https://maps.googleapis.com/maps/api/staticmap?center=<%=u office.address %>&zoom=14&scale=2&size=640x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%=u office.address %>"  data-toggle="collapse" data-target="#locationCollapse<%= office.id %>" aria-expanded="true" aria-controls="locationCollapse<%= office.id %>">
              <%= office.name %>
            </button>
          <% end %>
        </div>

        <% @offices.each_with_index do |office, i| %>

          <div class="location">
            <!-- Map path also set here -->
            <button class="location__nav-mobile" data-map="https://maps.googleapis.com/maps/api/staticmap?center=<%=u office.address %>&zoom=14&scale=2&size=640x600&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C<%=u office.address %>" data-toggle="collapse" data-target="#locationCollapse<%= office.id %>" aria-expanded="true" aria-controls="locationCollapse<%= office.id %>">
              London
            </button>
            <div class="location__items  collapse  <%= (i == 0) ? 'collapse  show' : 'collapsed' %>"  id="locationCollapse<%= office.id %>" aria-labelledby="locationHeading<%= office.id %>" data-parent="#accordion">
              <div class="location__items-container">
                <div class="location__item  location__item--call-us">
                  <h4>Call us</h4>
                  <p><%= office.phone %> (<%= office.work_time %>)</p>
                  <a href="tel:<%= office.phone %>">CALL NOW</a>
                </div>
                <div class="location__item  location__item--client-vacancy-form">
                  <h4>Client vacancy form</h4>
                  <p>Send us your job brief now</p>
                  <%= link_to 'Submit a Job', contact_client_path %>
                </div>
                <div class="location__item  location__item--visit-us">
                  <h4>VISIT US</h4>
                  <p><%= office.address %></p>
                  <a href="https://maps.google.com/?q=<%=u office.address %>+<%=u office.name %>" target="_blank" >OPEN IN GOOGLE MAPS</a>
                </div>
                <div class="location__item  location__item--candidate-contact-form">
                  <h4>CANDIDATE CONTACT FORM</h4>
                  <p>Send us your CV now</p>
                  <%= link_to 'Register Interest', contact_candidate_path %>
                </div>
              </div>
            </div>
          </div>

        <% end %>


      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="contacts__map  col-12"></div>
    </div>
  </div>
</div>