<div class="contact-candidate-form" >
  <%= form_for @candidate_form, url: register_interest_path, method: :create, remote: true, :html => { :multipart => true, :class => 'form__register-interest' } do |f| %>

    <div class="form__select">
      <%= f.select :job_function, options_for_select(Job.job_functions_options.map{|j| j[0].to_s}), {:include_blank => true}, {:class => 'js-select2', 'data-placeholder' => 'Preferred Job function', id: "job_function_#{rand(1..100)}" } %>
    </div>

    <div class="form__input">
      <%= f.text_field :first_name, placeholder: 'First Name' %>
    </div>

    <div class="form__input">
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </div>

    <div class="form__input">
      <%= f.email_field :email, placeholder: 'Email' %>
    </div>

    <div class="form__input">
      <%= f.phone_field :phone, placeholder: 'Phone' %>
    </div>

    <div class="form__group">
      <label class="form__file">
        <%= f.file_field :attachment %>
        <div class="file__btn">upload cv</div>
        <p class="file__info">No files attached…</p>
      </label>
      <label class="form__checkbox">
        <%= f.check_box :job_alerts %>
        <div class="checkbox__box"></div>
        <p>Send me Job Alerts as they become available</p>
      </label>
      <div class="form__submit">
        <%= f.submit 'Register Now' %>
      </div>
    </div>

    <%= f.hidden_field :nickname  %>
  <% end %>
</div>
<div class="contact-candidate-form-result" >
  <%= render 'partials/flash' %>
</div>