<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'Global Accounting Network', reverse: true %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
  </body>
</html>
