<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags icon: asset_path('global-favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="google-site-verification" content="c19rZz80-H22VgjhLvM-HLnM2hM55V9bR9_sIY86oeQ" >
    <meta name="msvalidate.01" content="BDA362A66F5870F34690012384345FF5" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if (GoogleAnalytics.valid_tracker? && cookies[:allow_cookies] != 'no') %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
    <% if !cookies[:allow_cookies] %>
      <%= render 'partials/cookies_bar' %>
    <% end %>

    <% if current_admin_user.nil? %>

      <script>
        var is_bot = bot_check();
        function geoip_validation(g) {
          if ( g.countryCode == 'US' && !is_bot ) {
            window.top.location.href = '<%= US_MIRROR_URL %>';
          }
        }
      </script>
      <script type="text/javascript" src="https://extreme-ip-lookup.com/json/?callback=geoip_validation" ></script>

    <% end %>

  </body>
</html>
